# compiled output
/dist/
/tmp/
/out-tsc/

# dependencies
/node_modules/

# IDEs and editors
/.idea/
/.vscode/

# build artifacts
*.pem
*.key

# Angular specific files
e2e/*.js
e2e/*.map
src/assets/images/
src/assets/data/

# Logs
*.log

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store
